* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noticia Text', serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: #00C11A;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: white;
    height: 70px;
    align-items: center;
}

nav .logo {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    width: 40%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    margin-top: 15px;
}

nav ul li a,
.dropbtn {
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover,
.dropdown:hover .dropbtn>ul {
    background-color: #CCEC00;
    color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px #00DEBC, 0 0 10px #00CDDE;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #00C11A;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #CCEC00;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.breadcumb-item {
    height: auto;
    padding-left: 0.5rem;
    background-color: rgb(234, 233, 233);
    line-height: 40px;
    border-radius: 0.3rem;
    font-family: 'Crete Round', serif;
}

.breadcumb-active::before {
    content: " / ";
    color: #6c757d;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #ffff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box small {
    font-size: 14px;
}

.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}

.info-box .progress,
.info-box .progress .progress-bar {
    border-radius: 0;
}

.info-box .progress .progress-bar {
    background: #fff;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-icon>img {
    max-width: 100%;
}

.info-box-content {
    padding-top: 5px;
    padding-left: 100px;
    padding-bottom: auto;
    padding-right: auto;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.info-box-text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-more {
    display: block;
}

.warning {
    font-style: italic;
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #ffff;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(49deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-49deg) translate(-1px, 1px);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Responsive Breakpoint */
/* Ukuran Tablet */
@media screen and (max-width:768px) {
    nav .logo {
        font-size: 26px;
        margin-left: 4%;
    }
    
    nav ul {
        width: 80%;
        margin-right: 20px; 
    }

    .dropdown-content{
       min-width: 100px;
       right: 5px;
    }
}

/* Ukuran Mobile */
@media screen and (max-width:576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        width: 100%;
        height: max-content;
        justify-content: space-evenly;
        flex-direction: column;
        /* align-items: center; */
        background-color: #00C11A;
        z-index: 5;
        transform: translateX(-100%);
        transition: all 1s;
        opacity: 0;
        text-align: left;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 2;
    }

    .dropdown-content {
        left: 0;
        right: 0;
        width: 100%;
        background-color: white;
    }

    .dropdown-content a {
        margin-left: 30px;
        color: black;
    }

}

/* Grafik */
.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chart canvas {
    width: 100% !important;
    
}

/* Tabel */
.table {
    border: 1px solid black;
    border-collapse: collapse;

}

table {
    margin-top: 10px;
}

td {
    text-align: center;
}

/* Small Box */

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    position: relative;
    padding: 10px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.small-box h3 {
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 2px;
}

.small-box p {
    font-size: 16px;
    padding: 2px;
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 0px;
    right: 30px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

.small-box:hover .icon {
    font-size: 95px;
}

@media (max-width: 767px) {
    .small-box {
        text-align: center;
    }

}

/* Alert-info */
#text-info {
    font-family: 'Lora', serif;
    font-size: 12px;
    margin-left: 5px;
}